page-home {
    .movie {
        height: 30vh;
        background: #333;
        color: white;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;

        .title, .episode, .date {
            position : absolute;
            z-index: 3;
        }

        .title {
            h1 {
                font-weight: normal !important;
            }
            left: 3%;
            bottom : 5%;
        }

        .episode {
            top : 0;
            right : 3%;
            color: #ffe405;
            font-size: 9rem;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            span {
                font-family: serif !important;
            }
        }
    }

    .movie::after {
        content: '';
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, transparent 20%, black 100%);
        // background: transparentize(black, 0.9);
        width: 100%;
        height: 30vh;
    }
}
