// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$darkside-red   : #f53d3d;
$darkside-black : #212121;
$lightside-blue : #488aff;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";

// These fonts were generated on https://icomoon.io/app/
@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?q976bf');
  src:  url('../assets/fonts/icomoon.eot?q976bf#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?q976bf') format('truetype'),
    url('../assets/fonts/icomoon.woff?q976bf') format('woff'),
    url('../assets/fonts/icomoon.svg?q976bf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .sw-#{$arg}:before ,
  .ion-ios-sw-#{$arg}:before ,
  .ion-ios-sw-#{$arg}-outline:before ,
  .ion-md-sw-#{$arg}:before ,
  .ion-md-sw-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(logo, '\e900');
@include makeIcon(death-star, '\e901');
@include makeIcon(darth-vader, '\e902');
@include makeIcon(c3p0, '\e903');

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
