// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/darkside.theme';
@import '../theme/lightside.theme';
@import '../theme/mixins';
@import "../theme/fonts";

ion-card {
	.card-header {
    	background: rgba(255,255,255,.05) !important;
	}
    ion-avatar img {
    	// max-width: 160px !important;
		padding: 2px !important;
	}
}

.fade {
  animation: fade 1s forwards;
}

@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none;}
}


@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

p, h1, h2, span {
	font-family: "Droid Sans", arial, verdana, sans-serif;
}

#titles
{
	background-color: #000;
	position: absolute;
	width: 18em;
	height: 70em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles img {
    width: 100vw;
    display: block;
    margin: 0 auto;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 20s linear 1s infinite;
	animation: scroll 20s linear 1s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}