<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>

<ion-content fullscreen [class.galaxy]="film.episode_id == 8">
  <div class="header">
    <div class="cover" [ngStyle]="{'background': 'url('+image+')' }">
      <div class="title">
        <span class="main-title secondary-font">{{ movieTitle }}</span>
        <span class="subtitle secondary-font">{{ film.title }}</span>
      </div>
    </div>
    <button *ngIf="filmData.imdbRating" ion-fab class="imdb-info" (click)="openIMDB()">
      <span>IMDb</span>
      <span>{{ filmData.imdbRating }}</span>
    </button>
  </div>
  <div *ngIf="film.episode_id === 8" class="countdown" style="height: 60vh">
    <ion-icon name="sw-death-star" item-left></ion-icon>
    <timer></timer>
  </div>
  <div *ngIf="film.episode_id !== 8">
    <div class="details" padding>
      <div *ngIf="filmData">
        <h3>Release date</h3>
        <p>{{ film.release_date | date}}</p>
        <h3>Length</h3>
        <p>{{ filmData.duration }}</p>
        <h3>Plot</h3>
        <p>{{ filmData.storyLine }}</p>
        <h3>Awards</h3>
        <p>{{ filmData.awards }}</p>
      </div>
    </div>
    <div class="characters" *ngIf="characters.length > 0" style="margin-bottom: 4rem">
      <h3 style="padding-left: 1rem; margin: 0">Characters in movie:</h3>
      <ion-slides spaceBetween="2" autoplay="3000" slidesPerView="2" style="height: 60vh">
        <ion-slide *ngFor="let character of characters" style="border-radius: 5px">
          <ion-card *ngIf="character">
            <ion-card-header>
              <h2 class="word-wrap secondary-font">{{ character.name }}</h2>
            </ion-card-header>
            <ion-card-content>
              <ion-avatar>
                <img class="user-avatar round"
                  [src]="character?.photo"/>
              </ion-avatar>
              <p class="secondary-font">Weight: {{ character.mass }} Kg</p>
              <p class="secondary-font">Gender: {{ character.gender }}</p>
              <p class="secondary-font">Birth year: {{ character.birth_year }}</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
<ion-footer>
  <button ion-button full icon-left class="footer-btn" (click)="openTrailer()">
    <ion-icon name="logo-youtube"></ion-icon>
    Watch trailer
  </button>
</ion-footer>