page-menu {
    #custom-overlay {
        background: url('../assets/img/galaxy.jpg');
        background-size: cover;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000000;
        width: 100%;
        background-color:transparent;
    }

    button.item.item-block.active-menu-item {
        background: #ccc;
    }

    ion-avatar img {
        display: block;
        margin-top: 12px !important;
        margin-bottom: 12px !important;
        margin: 0 auto;
        border-radius: 50%;
        width: 120px;
        padding: 5px;
    }
}
