<div id="custom-overlay" [class.fade]="fade" *ngIf="splash">
  <div id="perspective">
    <div id="perspective-content">
      <img src="assets/img/logo.svg"/>
    </div>
  </div>
</div>
<ion-split-pane>
  <ion-menu id="menu" [content]="content" type="shift">
    <ion-header no-border>
      <div class="sw-avatar">
        <div #darkSide *ngIf="global.state['side'] === 'dark'">
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
        </div>
        <div #lightSide *ngIf="global.state['side'] === 'light'">
          <ion-avatar>
            <img class="user-avatar round" src="assets/img/avatar/luke.jpg"/>
          </ion-avatar>
        </div>
      </div>
    </ion-header>

    <ion-content>
      <ion-list no-lines>
        <button *ngFor="let p of pages"
                menuClose ion-item
                (click)="openPage(p)"
                [class.active-menu-item]="p.active">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
        </button>
        <button ion-item
                (click)="switchSides()">
          <ion-icon name="sw-darth-vader" *ngIf="global.state['side'] === 'dark'" item-left></ion-icon>
          <ion-icon name="sw-c3p0" *ngIf="global.state['side'] === 'light'" item-left></ion-icon>
          Switch sides
        </button>
        <ion-item *ngIf="onMobile">
          <ion-label>Jedi mode</ion-label>
          <ion-toggle (ionChange)="toggleJediMode()" [(ngModel)]="jediMode"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="menuRoot" #content persistent="false" main></ion-nav>
</ion-split-pane>